.mainContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://t3.ftcdn.net/jpg/01/07/11/08/360_F_107110831_1YViwsEhl1tdAdO3niaID4wdG6MgDvk5.jpg");
    background-color: #cccccc;
    height: 1500px;
  }
  
  .boxShadow{
    width: 300px;
    height: 1000px;
    padding: 15px;
    background-color: red;
    box-shadow: 5px 5px 5px ;

    background-image: url("https://t3.ftcdn.net/jpg/01/07/11/08/360_F_107110831_1YViwsEhl1tdAdO3niaID4wdG6MgDvk5.jpg");
    background-color: #cccccc;
  }

  .loginInput{
    height: 500px;
    width: 500px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    box-shadow: 10px 10px 5px;
    background-color: white;

    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .titleContainer {
    display: flex;
    flex-direction: column;
    font-size: 64px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
  }
  
  .resultContainer,
  .historyItem {
    flex-direction: row;
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: space-between;
  }
  
  .historyContainer {
    flex-direction: column;
    display: flex;
    height: 200px;
    align-items: center;
    flex-grow: 5;
    justify-content: flex-start;
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 260px;


    
  }
  
  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;   

    
  }
  
  


  .inputContainer > .errorLabel {
    color: red;
    font-size: 12px;
  }
  
  .inputBox {
    height: 48px;
    width: 400px;
    font-size: large;
    border-radius: 8px;
    border: 1px solid grey;
    padding-left: 8px;
  }